@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  margin: 0px;
  padding: 0;
  font-family: "Inter";
}
.nav-bar {
  padding-top: 50px;
  margin-left: 300px;
}
.nav-links {
  text-decoration: none;
  margin: auto 15px;
  font-size: 0.8rem;
  color: white;
}
.home {
  color: #fde16b;
}
.nav-links:hover {
  color: #7a12f1;
}
.logo {
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  margin-right: 250px;
}
.bgimg {
  /* Background pattern from Toptal Subtle Patterns */
  background-image: url("https://mocah.org/uploads/posts/523906-calm-waters.jpg");
  height: 600px;
  width: 100%;
}
.landing {
  margin-right: 400px;
  margin-left: 300px;
  color: white;
}
.landing-text {
  margin: 0;
  padding-top: 100px;
  font-size: 2.2rem;
  font-weight: 700;
}
.landing-text2 {
  font-size: 0.9rem;
  margin: 35px auto;
}
.action-button {
  text-decoration: none;
  padding: 10px 30px;
  border: none;
  font-weight: bold;
}
#btn1 {
  background-color: #fde16b;
}
#btn2 {
  background-color: #5f477b;
  color: white;
}
.div2 {
  color: black;
  margin-right: 300px;
  margin-left: 300px;
}
.heading2 {
  text-align: center;
  padding-bottom: 30px;
  font-size: 2rem;
  font-weight: bold;
}
.heading3 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
.div2-hr {
  border: 1px solid #e4e4e4;
  background-color: #e4e4e4;
}
.head {
  font-size: 1rem;
  font-weight: bold;
  color: #5e4879;
}
.content {
  padding-top: 100px;
  padding-bottom: 10px;
}
.float-container {
  color: #909090;
}
.child2 {
  text-align: center;
  font-size: 0.8rem;
  float: left;
}
.float-container2 {
  color: #909090;
  margin-top: 50px;
  padding-bottom: 50px;
}
.icon {
  background-color: #5e4879;
  color: white;
  border: 10px solid #5e4879;
  border-radius: 50%;
}
.mid {
  margin-left: 132px;
  margin-right: 132px;
}
.footer {
  margin-top: 300px;
}
.child {
  float: left;
}
.left-child {
  margin-right: 50px;
  font-size: 1.2rem;
}
.float-container3 {
  margin: 0;
}
.project {
  font-weight: bold;
  font-size: 1rem;
}
.see-pro {
  background-color: white;
  border: 0;
  padding: 10px 20px;
  font-size: 0.8rem;
  font-weight: bold;
}
.desc {
  font-size: 0.8rem;
  color: #909090;
}
.text {
  padding: 30px 30px;
  background-color: #e4e4e4;
  margin-top: 0;
}
.child3 {
  width: 315.7px;
  height: 500px;
  float: left;
  margin-bottom: 150px;
}
.img {
  margin-bottom: -10px;
}
.child3-yellow {
  background-color: #fde16b;
}
.child3-purple {
  background-color: #5e4879;
  border-color: #5e4879;
  color: white;
}
.dark-bg {
  background-color: #d6d6d6;
}
.div4 {
  margin-top: 100px;
}
.div4-content {
  margin: 0 315px 0 330px;
  padding-bottom: 300px;
}
.box1 {
  text-align: center;
  float: left;
}
.box-topic {
  font-weight: bold;
  font-size: 1rem;
}
.box-content {
  font-size: 0.8rem;
  font-weight: bold;
}
.box-price {
  color: #909090;
}
.but1 {
  background-color: #5e4879;
  border: 0;
  color: white;
  padding: 10px 20px;
}
.mid-box {
  margin-left: 70px;
  margin-right: 70px;
  border-left: 2px solid #e4e4e4;
  border-right: 2px solid #e4e4e4;
}
.box-main {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
}
.but2 {
  background-color: #fde16b;
  border: #fde16b;
  padding: 10px 20px;
}
.div5 {
  margin: 0;
  height: 600px;
  background-color: #5f477b;
}
.heading-div5 {
  color: white;
  text-align: center;
  font-size: 2.2rem;
}
.div5-content {
  padding: 30px 0 50px 0;
}
.div6-content {
  margin-left: 315px;
  margin-right: 315px;
  padding: 50px 0 100px 0;
  width: 630px;
  align-items: center;
}
.div6-head {
  text-align: center;
  font-size: 2.2rem;
  font-weight: bold;
}
.mem-img {
  border-radius: 30%;
  transition: 0.5s ease-out;
}
.name1 {
  text-align: center;
  float: left;
  padding-top: 50px;
}
.name {
  font-weight: bold;
  font-size: 0.9rem;
}
.desg {
  font-size: 0.8rem;
  color: #909090;
}
.mem-img:hover {
  opacity: 50%;
  transition: 0.5s ease-in-out;
  background:linear-gradient(to top,#5e4879,transparent);
}

.mid-name {
  margin-left: 100px;
  margin-right: 100px;
}
.name-container1 {
  margin-top: 50px;
  margin-bottom: 300px;
  padding-left: 20px;
}
.div7 {
  margin: 0;
  width: 100%;
  height: 800px;
  background-color: #d6d6d6;
  margin-top: 300px;
}
.div7-head {
  text-align: center;
  font-size: 2.2rem;
  font-weight: bold;
  padding-top: 70px;
}
.div8 {
  background-image: url("images/update.jpg");
  width: 100%;
  margin: 0;
  height: 400px;
}
.div8-head {
  text-align: center;
  font-size: 2.2rem;
  font-weight: bold;
  padding-top: 70px;
  color: white;
  margin-top: 0;
}
.form-text {
  width: 340px;
  height: 50px;
  margin-left: 350px;
}
.button {
  margin-left: -5px;
}
.btn-sign {
  padding: 20px 100px;
  border: 0;
  font-weight: bold;
  background-color: #fde16b;
}
.button2 {
  margin-left: 695px;
}
.btn-sign2 {
  padding: 20px 100px;
  border: 0;
  font-weight: bold;
  background-color: #5e4879;
  color: white;
}
.div9-head {
  text-align: center;
  font-size: 2.2rem;
  font-weight: bold;
  padding-top: 70px;
  margin-top: 0;
  margin-bottom: 0;
}
.op1-content {
  text-align: center;
  font-size: 0.7rem;
  margin-top: -40px;
}
.div9-op1 {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  padding-top: 70px;
  margin-top: 0;
}
.op1 {
  width: 200px;
  height: 300px;
  margin-bottom: 50px;
  float: left;
}
.para {
  font-weight: bold;
}
.date {
  color: #909090;
}
.blog-btn {
  padding: 10px 20px;
  border: 0;
  background-color: #fde16b;
  font-weight: bold;
}
.mid-op {
  margin-right: 100px;
  margin-left: 100px;
}
.div9-container {
  width: 800px;
  height: 400px;
  margin-left: 230px;
  margin-top: 30px;
}
.second,
.third {
  background-color: #d6d6d6;
}
.part1 {
  float: left;
}
.form-div10 {
  background-color: #fde16b;
  width: 612.5px;
  height: 600px;
}
.form {
  padding-left: 50px;
}
.credentials {
  font-size: 0.5rem;
}
.div10-form-head {
  font-size: 2rem;
}
.credential-text {
  width: 300px;
  height: 35px;
  border: 0;
  margin-top: 5px;
  margin-bottom: 10px;
}
.text-area {
  height: 150px;
}
.div10-btn {
  color: white;
  text-align: center;
  width: 305px;
  background-color: #5e4879;
  border: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  font-weight: bold;
}
.div11-content{
  margin: 650px 270px 100px 280px;
  
}
.add-head{
  font-weight: bold;
  font-size: 0.9rem;
}
.address{
  font-size: 0.8rem;
}
.div11-child{
  width: 150px;
  float: left;
  padding-bottom: 90px;
  text-align: center;
}
.mid-div11{
  margin-left: 130px;
  margin-right: 130px;
}
.div11-icon{
  float: left;
  width: 30px;
  height: 30px;
}

.mid-icon{
  margin-left: 30px;
  margin-right: 30px;
}
.team-icon{
  width: 30px;
  height: 30px;
}
.member1{
    background-color:#fff;
    position: relative;
    transition: .6s ease-out;
}
.member1:hover{
  transform: translateY(15px);
}
.member:hover:before{
  opacity: 1;
}
.member1:hover .social-links{
  opacity: 1;
  transform: translateY(0);
}
.member1:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index:2;
  transition: 0.5s;
  opacity: 0;
}
.member1 .mem-img{
  position:absolute;
  top: 0;
  left: 0;
}
.member-details{
  padding-top:50px ;
  padding-left: 10px;
}
.social-links{
  padding-top: 45px;
  padding-left: 25px;
}
.part2-div6{
  margin-bottom: -50px;
}
.videos{
  margin: 50px 200px 50px 210px;
  width: 850px;
  height: 400px;
}
.life-in{
  margin: 50px 200px 50px 200px;
  width: 850px;
  height: 500px;
}
.life-img{
  width: 900px;
  height: 500px;
}
.source{
  width: 850px;
  height: 400px;
}
